* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

nav {
  padding: 1rem 2rem;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.app-title {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: #3c85fe;
  padding: 1rem;
}

.activated {
  text-decoration: underline;
}

.pages-content {
  padding: 1rem 3rem;
}

ul {
  list-style-type: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.rocket-card {
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.rocket-info {
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1.5rem;
}

.rocket-name {
  padding-bottom: 0.5rem;
}

.rocket-description {
  font-size: 16px;
  padding-bottom: 0.5rem;
}

.cancel-btn,
.reserve-btn {
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.cancel-btn {
  background-color: white;
  border: 1px solid lightslategrey;
  color: lightslategrey;
}

.reserve-btn {
  background-color: #0290ff;
  border: 1px solid #0290ff;
  color: white;
}
